html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  background-color: #151515;
  display: flex;
  flex-direction: column;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.header{
  width: 100vw;
  height: 13vh;
  background-color: #111111;
  display: flex;
  justify-content: space-between;

}
.header-left{
  width: 50%;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-right{
  display: flex;
  width: 50%;
  margin: 0;
  padding: 0;
  justify-content: right;
  margin-right: 30px;
}

.cabecalho{
  width: 100%;
  height: 120px;
  background-color: #111111;
  display: flex;
  justify-content: space-between;

}

.botao-1{
  background-color: #D7336E;
  color: #ffffff;
  width: 20%;
  height: 45%;
  font-size: 1.2em;
  font-weight: bolder;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 550px;
  cursor: pointer;
}

#logo{
  margin-top: 20px;
  margin-left: 30px;
  width: 75px;
  height: 75px;
}

/* #input-nome::placeholder {
  font-size: 16px;
  text-align: top;
  padding: 3% 2%;
  color: #BF7A87;
}


.input::placeholder {
  font-size: 16px;
  text-align:left;
  padding: 3% 2% 3%;
  color: #BF7A87;
  
} */


h1{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  color:#ffffff;
  text-shadow: 0px 2px 2px rgba(227, 227, 227, 0.25);
}


/* #input-nome{
  width: 516px;
  height: 60px;
  left: 702px;
  top: 325px;
  margin-left: 510px;
  margin-top: 30px;
  background-image:url(./img/setinha.svg);
  border-radius: 10px;
  border-color: #111111;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #FFCECE;


}

.input{
  
  width: 516px;
  height: 60px;
  left: 702px;
  top: 325px;
  margin-left: 510px;
  margin-top: 20px;
  border-radius: 10px;
  border-color: #111111;
  background:url(./img/setinha.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #FFCECE;

  
} */

 
.botao-escolha{
  background-image: url("./img/setinha.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: right;
  cursor: pointer;
  background-color:#FFCECE ;
  border: none;
  padding: 7%;
  cursor: pointer;
  border-radius: 15px;
  margin-right: 3px;
}

.input::placeholder {
  font-size: 1em;
  text-align:left;
  padding: 3% 2% 3%;
  color: #BF7A87;
  
}

form{
  background-color:#FFCECE;
  display: flex;
  justify-content: space-between;


} 

form img{
  justify-content: right;
}

.input{
  width: 25%;
  padding: 1.5%;
  border: none;
  padding: 10px;
  outline: none;
  background-color:#FFCECE;
  border-radius: 10px;
}



.forms{
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin-top: 7vh;
 
}


.div-botao-finalizar{
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
}

 
#botao-finalizar{
  background-color: #D7336E;
  color: #ffffff;
  width: 13%;
  height: 40%;
  font-size: 1.2em;
  font-weight: bolder;
  border-radius: 15px;
  margin-top: 8vh;
  cursor: pointer;
}


